Source: ros-kilted-neo-nav2-bringup
Section: misc
Priority: optional
Maintainer: Pradheep Padmanabhan <padmanabhan@neobotix.de>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-nav2-common, ros-kilted-navigation2, ros-kilted-slam-toolbox, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-neo-nav2-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-nav2-common, ros-kilted-navigation2, ros-kilted-slam-toolbox, ros-kilted-ros-workspace
Description: ROS-2 navigation bringup packages for neobotix robots
